$color-white: #fff;
$color-black: #000;
$color-brown-black: #333;
$color-orange: #ff8b38;
$color-gray: #f5f5f5;
$color-dark-gray: #86878b;
$color-gray-icons: #ccc;
$color-black-opacity: rgba(255, 255, 255, 0.5);

body {
  margin: 0;
  padding: 0;
  max-width: 1400px;
  & * {
    font-size: 16px;
  }
  nav {
    height: 70px;
    padding: 0 10.7142857%;
    background: $color-black;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    .menu-responsive{
      display: none;
    }
    ul {
      margin: 0;
      padding: 5px;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
      align-items: center;
      li {

        text-align: center;
        padding: 0 4%;
        list-style: none;
        a {
          text-decoration: none;
          color: $color-gray;
          font-size: 0.875rem;
          font-family: open_sansregular;
          line-height: 1.2;
          display: block;

        }
      }
    }
  }

  header {
    height: 640px;
    width: 100%;
    position: relative;
    background: url("../pictures/fon.jpg") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    &::before {
      content: "";
      position: absolute;
      background-color: $color-white;
      width: 100%;
      height: 2px;
      z-index: 28;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      z-index: 20;
    }

    #header__logo {
      position: absolute;
      width: 39%;
      height: 62.1875%;
      top: 17.3438%;
      left: 10.7143%;
      z-index: 22;

      h2 {
        font-size: 2.25rem;
        font-family: ralewayregular;
        color: $color-white;
        font-weight: normal;
        }

      p {
        font-size: 1rem;
        font-family: ralewayregular;
        color: $color-black-opacity;
      }

      a {
        padding: 1% 5%;
        color: $color-white;
        border: 2px solid $color-white;
        text-decoration: none;
        font-family: open_sansregular;

      }
    }
    #header__try-free {
      top: 21.875%;
      right: 10.5714%;
      position: absolute;
      background: $color-white;
      width: 25.7143%;
      height: 56.5625%;
      border-radius: 3px;
      margin: 0;
      padding: 0;
      z-index: 23;
      h3 {
        font-size: 1.25rem;
        font-family: open_sansregular;
        color: $color-brown-black;
        font-weight: bold;
        text-align: center;
        background: $color-gray;
        padding: 20px;
        margin: 0;
        border-radius: 3px 3px 0 0;
        span {
          font-size: 1em;
          color: $color-orange;
        }
      }
      form {
        input {
          &[type = "text"], &[type = "email"], &[type = "password"] {
            height: 31px;
            width: 70%;
            border: none;
            border-bottom: 2px solid $color-gray;
            margin: 3% 15%;
            padding-top: 3%;
            font-size: 0.875rem;
            font-family: open_sansregular;
            color: $color-gray;
          }
          &[type = "button"] {
            position: absolute;
            bottom: 0;
            height: 14.9171%;
            width: 100%;
            margin: 0;
            color: $color-white;
            background: $color-orange;
            font-size: 0.9375rem;
            font-family: open_sansregular;
            border: none;
            border-radius: 0 0 3px 3px;
            cursor: pointer;

          }
        }

      }

    }
  }
  #section__social-media {
    background: $color-white;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 105px;
    padding: 0 10.7143%;
    #section__social-media_text {
      width: 39%;
    }
    h2 {
      color: $color-black;
      font-size: 1.25rem;
      font-family: open_sanssemibold;
      font-weight: bold;
    }

    p {
      color: $color-dark-gray;
      font-size: 0.875rem;
      font-family: open_sansregular;
      }
    }

  #section__social-media_icons {
    width: 61%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    i {
      color: $color-gray-icons;
      font-size: 3rem;
    }
  }
  }

@media only screen and (max-width: 992px) {
  body header #header__logo {
    top: 10%;
  }
}

@media only screen and (max-width: 768px) {
  body nav {
    .menu {
      display: none;
      background: $color-black;
    }
    .menu-responsive {
      display: block;
      ul {
        flex-direction: column;
      }
    }
    .gamburger1 {
      position: absolute;
      z-index: 9999;
      top: 13px;
      right: 13px;
      i.gamburger3 {
        color: #fff;
        width: 43px;
        height: 39px;
        text-align: center;
        font-size: 34px;
        background: $color-black;
        padding-top: 4px;
        cursor: pointer;
        &:hover {
          background: #fff;
          color: $color-black;
        }
      }
    }
    .gamburger2 {
      overflow: hidden;
    }
    .gamburger3 {
      float: left;
    }
    .gamburger4 {
      float: left;
      margin-right: -1000px;
      visibility: hidden;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      background: #fff;
      padding: 15px 25px;
    }
    .gamburger5 {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      li {
        margin-bottom: 5px;
        a {
          font-size: 17px;
          color: $color-black;
          text-decoration: none;
          &:hover {
            color: #222;
          }
        }
      }
    }
  }
  body header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    #header__logo {
      text-align: center;
      width: 100%;
      left: 0%;
      top: 5%;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    #header__try-free {
      top: 63%;
      left: 50%;
      transform: translate(-50%);
      width: 45%;
      height: 33%;
      h3 {
        font-size: 1.1rem;
        padding: 10px;
      }
      form {
        input {
          &[type = "text"], &[type = "email"], &[type = "password"] {
            height: 9px;
            width: 70%;
            font-size: 0.75rem;
          }
          &[type = "button"] {
            height: 17%;
            width: 100%;
            font-size: 0.9rem;
            font-family: open_sansregular;
            cursor: pointer;
          }
        }
      }
    }
  }
  body #section__social-media {
    flex-direction: column;
    text-align: center;
    height: 145px;
    #section__social-media_text {
      width: 70%;
    }
    #section__social-media_icons {
      width: 80%;
    }
  }

  @media only screen and (max-width: 480px) {
    body header {
      #header__logo {
        h2 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
      #header__try-free {
        width: 50%;
        height: 32%;
      }
    }
    body #section__social-media {
      flex-direction: column;
      text-align: center;
      height: 165px;
      #section__social-media_text {
        width: 80%;
      }
      #section__social-media_icons {
        width: 110%;
      }
    }
  }
}






